@using LifeManager.Data
@using LifeManager.Data.Enums
@using LifeManager.Model
@using LifeManager.State
@inject TagModalStateService ModalService

<div class="drawer drawer-end">
    <input id="my-drawer-1" type="checkbox" class="drawer-toggle" checked="@IsOpen" readonly />

    <div class="drawer-side">
        <label for="my-drawer-1" class="drawer-overlay" @onclick="OnClose"></label>
        <div class="menu bg-base-100 min-h-full w-full sm:w-96 lg:w-1/3 p-4">
            
            <h2 class="text-2xl mb-4">@(IsEditMode ? $"Edit {CurrentForm.Title}" : "Add Task")</h2>

            @if (IsEditMode)
            {
                <span class="text-xs link text-error/50" @onclick="OnDelete">Supprimer</span>
            }
            
            <EditForm Model="CurrentForm" OnValidSubmit="() => OnSave.InvokeAsync(CurrentForm)" class="col-10 mt-5 w-full">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-error text-sm mb-4" />
                
                <label class="floating-label"> 
                    <span>Room</span>
                    <InputSelect class="select" @bind-Value="CurrentForm.RoomId">
                        <option value="0">Select a room</option>
                        @if (Rooms != null)
                        {
                            @foreach (var room in Rooms)
                            {
                                <option value="@room.RoomId">@room.RoomName</option>
                            }
                        }
                    </InputSelect>
                </label>

                <label class="floating-label mt-3">
                    <span>Title</span>
                    <InputText class="input input-ghost" @bind-Value="CurrentForm.Title"/>
                </label>
                
                <label class="floating-label mt-3">
                    <span>Description</span>
                    <InputTextArea rows="3" class="textarea border-transparent" @bind-Value="CurrentForm.Description"></InputTextArea>
                </label> 
                
                <RadioGroup Title="Temps requis" Name="taskDuration" TEnum="TaskDuration" @bind-Value="CurrentForm.Duration"/>
                <RadioGroup Title="Energie requise" Name="taskEnergy" TEnum="TaskEnergy" @bind-Value="CurrentForm.Energy"/>
                <RadioGroup Title="Impact après effort" Name="taskImpact" TEnum="TaskImpact" @bind-Value="CurrentForm.Impact"/>

                <div class="modal-action mt-8">
                    <button type="button" class="btn btn-secondary btn-xs btn-soft w-1/2" @onclick="OnClose">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-soft btn-xs w-1/2">@(IsEditMode ? "Update" : "Save")</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public bool IsEditMode { get; set; }
    [Parameter] public required TaskFormModel CurrentForm { get; set; }
    [Parameter] public List<RoomDashboardDto>? Rooms { get; set; }
    [Parameter] public List<TagDto>? Tags { get; set; }
    
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    
    [Parameter] public EventCallback<TaskFormModel> OnSave { get; set; }
    

    private string TagSearchQuery { get; set; } = string.Empty;
    

    private IEnumerable<TagDto> FilteredTags => Tags?
        .Where(t => !CurrentForm.Tags.Any(ct => ct.TagId == t.TagId))
        .Where(t => string.IsNullOrWhiteSpace(TagSearchQuery) || t.Label.Contains(TagSearchQuery, StringComparison.OrdinalIgnoreCase)) 
        ?? Array.Empty<TagDto>();

    private void AddTaskTag(TagDto tag)
    {
        CurrentForm.Tags.Add(tag);
        TagSearchQuery = string.Empty;
    }

    private void RemoveTaskTag(Tag tag)
    {
        var tagToRemove = CurrentForm.Tags.FirstOrDefault(t => t.TagId == tag.Id);
        if (tagToRemove != null)
        {
            CurrentForm.Tags.Remove(tagToRemove);
        }
    }
}